<h2>Customer Details Page</h2>
<hr>
<br>
      

<form>
        Company Name: <input type="text" name="name" ng-model="customersDetails.name"><br>
        Address: <input type="text" name="address" ng-model="address"><br>
        City: <input type="text" name="city" ng-model="city"><br>
        State: <input type="text" name="state" ng-model="state"><br>
        Zip: <input type="text" name="zip" ng-model="zip"><br>
        Phone: <input type="text" name="phone" ng-model="phone"><br>
</form>
        

<button ng-click="save(customersDetails.id,customersDetails.lock_version,customersDetails.name)">
        <span ng-show="customersDetails.id">Update Existing</span>
        <span ng-show="!customersDetails.id">Save New</span>
</button>


<a href="/#/customer/customer">Back to all customers</a>
<br>
<br>
<br>
<br>
<p class = "small-text">Company ID: {{customersDetails.id}} and Lock Version {{customersDetails.lock_version}}</p>
<p class = "small-text">Old/Unused/Not Working Things:</p>

<button ng-click ="updateCustomer(customersDetails.id,customersDetails.lock_version,customersDetails.name);">Update</button>

<button ng-click ="addNewCustomer(customersDetails.name);">Save New</button>

<button ui-sref="customerdetails()">Create New Customer</button>
<a href="/#/customer/detail">Create New Customer</a>